:root {
    --fontColor: black;
    --backgroundColor: white;
    --accentColor: skyblue;
}

* {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: end;
    position: relative;
    background-color: var(--backgroundColor);
}

hr {
    border: 0;
    height: 4px;
    margin: 10px 0px;
    background-color: var(--fontColor)
}

main {
    flex-grow: 1;
}

body {
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    min-height: 5vh;
}

#lightDarkSwitcher {
    font-size: 32px;
    margin: 40px 20px 50px 0px;
    background: none;
    border: none;
}

#portfolioLink {
    font-size: 32px;
    color: var(--fontColor);
    background-color: var(--backgroundColor);
}