:root {
    --fontColor: black;
    --backgroundColor: white;
    --accentColor: skyblue;
  }

. {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: end;
    position: relative;
    background-color: var(--backgroundColor);
}

hr {
    border: 0;
    height: 4px;
    margin: 10px 0px;
    background-color: var(--fontColor)
}

body{
    background-color: var(--backgroundColor)
}

#lightDarkSwitcher {
    font-size: 32px;
    margin: 50px 20px 50px 0px;
    background: none;
    border: none;
}