:root {
    --fontColor: black;
    --backgroundColor: white;
    --accentColor: skyblue;
}

* {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: end;
    position: relative;
    background-color: var(--backgroundColor);
}

h1 {
    color: var(--fontColor);
    background-color: (var(--backgroundColor));
    font-size: 175%;
}

hr {
    border: 0;
    height: 4px;
    margin: 10px 0px;
    background-color: var(--fontColor)
}

body {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
}

#lightDarkSwitcher {
    font-size: 32px;
    margin: 40px 20px 50px 0px;
    background: none;
    border: none;
}

#portfolioLink {
    font-size: 32px;
    color: var(--fontColor);
    background-color: var(--backgroundColor);
}